.masterContainer {
  display: flex;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer {
  width: 640px;
  margin: 0 1rem 0 0;
}

.reservationMod {
  width: 320px;
}

.mapDescriptionContainer {
  background-color: #fff;
}
